<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.auditiondemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AuditionDemo">
        <activity android:name=".RecyclerViewDemo.RecyclerViewActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RxJavaDemo.RxJavaActivity"></activity>
        <activity android:name=".FactoryModelDemo.FactoryActivity"></activity>
        <activity
            android:name=".UtilsDemo.UtilsActivity"
            android:exported="true"></activity>
        <activity
            android:name=".MyViewDemo.MyViewActivity"
            android:exported="true" />
        <activity
            android:name=".HandlerDemo.YouHuaActivity"
            android:exported="true" />
        <activity android:name=".ViewModelDemo.ViewModelActivity" />
        <activity android:name=".TestDemo.TestActivity" />
        <activity android:name=".EventBusDemo.SecondActivity" />
        <activity
            android:name=".EventBusDemo.EventBusActivity"
            android:exported="true" />
        <activity android:name=".BlueToothDemo.BleActivity" />
        <activity android:name=".SingletonModelDemo.MainActivity" />
        <activity
            android:name=".Okhttp3Demo.Okhttp3Activity"
            android:exported="true">
        </activity>
        <activity
            android:name=".RetrofitDemo.RetrofitActivity"
            android:exported="true" />
        <activity
            android:name=".HandlerDemo.HandlerThreadActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>